<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Identification</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body>
    <header>
      <img src="photos/UCL.png" width="250" height="50" alt="UCL Logo">
      <h1 class="title">Check-Incident</h1>
      <form class="research-bar">
        <input type="search" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
      </form>
      <p> <%= date %> </p>
    </header>
    <p><i><a href="/acceuil.html" class="incident-button">Acceuil</a></i></p>
    <section>
      <h1 class="page-title">Identification</h1>

      <div class="connection-block">
        <h3><i>Se connecter</i></h3>
        <form action="ident.html" method="post">
            <p>
              <label>Nom de l'utilisateur :</label>
              <input type="text" name="username" placeholder="Entrez nom d'utilisateur...">
            </p>
            <p>
              <label>Mot de passe :</label>
              <input type="password" name="password" placeholder="Entrez mot de passe...">
            </p>
            <p><input type="submit" value="Connexion"></p>
        </form>
      </div>

      <div class="connection-block">
        <h3><i>Nouveau compte</i></h3>
        <form action="compte.html" method="post">
        <p>
          <label>Nom de l'utilisateur :</label>
          <input type="text" name="nom_utilisateur"placeholder="Entrez nom d'utilisateur...">
        </p>
        <p>
          <label>Mot de passe :</label>
          <input type="password" name="mdp"placeholder="Entrez mot de passe...">
        </p>
        <p>
          <label>Nom complet :</label>
          <input type="text" name="nom_complet"placeholder="Entrez nom complet...">
        </p>
        <p>
          <label>Adresse e-mail :</label>
          <input type="email" name="email"placeholder="Entrez email...">
        </p>
        <p>
        <button type="submit"name="submit">S'enregistrer</button>
        </p>
      </form>
      </div>
    </section>
  </body>
</html>
