<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Identification</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body>
    <header>
      <form class='link-id'><i><%= username %></a></i></form>
      <img src="photos/UCL.png" width="250" height="50" alt="UCL Logo">
      <h1 class="title">Check-Incident</h1>
      <form class="research-bar">
        <input type="search" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
      </form>
      <p> <%= date %> </p>
    </header>

    <p><i><a href="/acceuil.html" class="incident-button" method="get">Acceuil</a></i></p>
    <section>
      <h1 class="page-title">Signaler un Incident pour l'utilisateur <%= username %></h1>
      <p>
        <form class="textarea-block" action="subm.html" method="post">
          <p class="textarea-title">Déscription :</p>
          <textarea name="desc" rows="10" cols="50" placeholder="Saisir une déscription..."></textarea>
          <br>
          <p class="textarea-title">Adresse :</p>
          <textarea name="addre" rows="10" cols="50" placeholder="Saisir une adresse..."></textarea>
          <br>
          <input type="submit" value="Signaler incident">
        </form> 
      </p>
    </section>
  </body>
</html>