<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Identification</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="barrenav">
        <img src="/photos/logo_site.png" alt="logo" id="barrelogo">
        <ul class="barrelien">      
            <li><a href="acceuil">acceuil</a></li>
            <% if (session.username) { %>
                <li><a href="profile" class="connexion-button" method="get">profil</a></li>    
            <% } else { %>
                <li><a href="connexion" class="connexion-button" method="get">connexion</a></li>    
            <% } %> 
            <% if (session.username) { %>
                <li><a href="logout" class="logout-button">Déconnexion</a></li>
            <% } %>    
        </ul>
    </nav>
    <header>
      <div class="filtrenoir"></div>
        <h1>Prendre un Rendez-vous</h1>
        <h3>Choisissez le type de rendez-vous et remplissez vos informations</h3>
        <div class="rectangle" id="brun"></div>
    </header>

    <section class="RDV_body">
            <h1>CONTACT</h1>
            <div class="boxage">
            
            <ul class="texte_info">
                <li><p>Braine-l'Alleud, Belgique</p></li>
                <li><p>Déplacements à Braine l'Alleud et alentours.</p></li>
                <li><a href="tel:+32-479171404">+32-479171404</a></li>
                <li><a href="mailto:flod.veto@gmail.com">flod.veto@gmail.com</a></li>
            </ul>
                  
            <form class="donnee" action="send-rdv-mail" method="post">
                <label for="phone-number">Numéro de téléphone :</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="+32 *** ** ** **" required pattern="[0-9]+" title="Veuillez entrer uniquement des chiffres.">

                <label for="adresse">Adresse :</label>
                <input type="text" id="adresse" name="adresse" placeholder="rue des paquerettes numéro 11, 1840 NuageVille" required>

                <label for="animal">Choisir l'animal:</label>
                <select id="animal_id" name="animal_id" required>
                    <% animals.forEach(function(animal, index) { %>
                        <option value="<%= index %>" <%= index === selectedAnimalId-1 ? 'selected' : '' %>>
                            <%= animal.name %>
                        </option>
                    <% }); %>
                </select>
                
                <label for="typeRdv">Type de rendez-vous :</label>
                <select id="typeRdv" name="typeRdv" required>
                    <option value="urgent">Rendez-vous urgent</option>
                    <option value="rapide">Rendez-vous rapide</option>
                    <option value="non-urgent">Rendez-vous non urgent</option>
                </select>

                <label for="description">Message ou Informations supplémentaires :</label>
                <textarea id="description" name="description" placeholder="Entrez les informations supplémentaires ici..." rows="4"></textarea>
                <button type="submit" class="submit-button">Envoyer</button>
            </form>
        </div>

    </section>
    <footer id="rdv">
        <p>Droits d'auteur © 2024 Tous droits réservés - Dr Florence Didier - Médecin Vétérinaire</p>
    </footer>
</body>
</html>