/* Mise en page sur balise html*/
html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  background-color: #FFFFFF;
  border: 1px solid black;
}

header {
background-color: #6495ED;
padding: 15px;
color: white;
border: 1px solid black;
}

td {
border: 2px solid black;
padding: 8px;
}
th { 
color: black;
height: 30px;
width: 15px;
font-family: "The Girl Next Door", cursive;
}

caption {
font-size: 35px;
color: black;
margin: 0px 0px 20px;
}

div p{
  margin: 5px;
}

/* Mise en page sur classe */
.table-container{
  border: separate;
  margin: auto;
  width: 90%;
}

.title{
  padding: 0px 5px;
  font-size: 25px;
  color: LightGrey;
  font-family: 'The Girl Next Door', Lucida Console, cursive;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  letter-spacing: 3px;
}

.link-id{
  text-align: end;
}
.id-button {
  border: 2px solid black;
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}

.research-bar{
  text-align: center;
  color: black;
}

.incident-button {
  border: 1px solid black;
  color: black;
  padding: 3px 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 20px;
  cursor: pointer;
  font-family: 'Autour One', cursive;
}

.date{
  text-align: end;
  margin: 0px 15px;
}

.connection-block{
  border: 1px solid black;
  margin: 8px 600px 10px 10px;
}

.page-title{
  text-align: center;
  font-family: 'Autour One', cursive;
  letter-spacing: 2px;
  text-decoration: underline solid black;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.textarea-block{
  display: block;
  margin: 0px 0px 10px 10px;
  unicode-bidi: isolate;
}

.textarea-title{
  margin: 0px 0px 5px 0px;
  font-family: 'Autour One', recursive;
  letter-spacing: 1px;
  text-decoration: underline solid black;
}